@page
@model PizzaPlace.Pages.Admin.Modify.Offer.CreateModel

@{
    ViewData["Title"] = "Create offer";
}

@if (Model.Message != null)
{
    <div class="row justify-content-center">
        <h3 class="text-success">@Model.Message</h3>
    </div>
}

@if (Model.ErrorMessage != null)
{
    <div class="row justify-content-center">
        <h3 class="text-danger">@Model.ErrorMessage</h3>
    </div>
}
<h3 style="color: rgb(65,41,46)">Create an offer</h3>

<div class="container-fluid">
    <div class="row justify-content-center p-2 w-100">
        <div class="col">
            <fieldset class="border rounded" p-2 m-2>
                <legend style="color: rgb(65,41,46)">Create offer</legend>
                <form class="p-2" style="background: rgb(255,255,255); background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,130,55,1) 100%);" asp-page="/Admin/Modify/Offer/Create" method="post" onsubmit="return validateForm()">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label" asp-for="@Model.Offer.Title"><span class="text-danger">*</span>Title</label>
                        <input type="text" asp-for="@Model.Offer.Title" class="form-control" required placeholder="Enter title" />
                        <span asp-validation-for="@Model.Offer.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="@Model.Offer.ValidUntil"><span class="text-danger">*</span>Valid until</label>
                        <input type="date" asp-for="@Model.Offer.ValidUntil" class="form-control" required placeholder="enter ImageUrl" />
                        <span asp-validation-for="@Model.Offer.ValidUntil" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="@Model.Offer.Description"><span class="text-danger">*</span>Description</label>
                        <textarea type="text" asp-for="@Model.Offer.Description" class="form-control" cols="20" rows="10" required placeholder="Enter Description"></textarea>
                        <span asp-validation-for="@Model.Offer.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit offer" class="btn" style="background-color: rgb(255,223,206); color: rgb(65,41,46); font-weight:bolder" />
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/RequiredDataValidator.js"></script>
}
